<!DOCTYPE html>
<html>
  <head>
    <title><%- helmet.title.toString() %></title>
    <meta
      content="width=device-width, initial-scale=1, user-scalable=no"
      name="viewport"
    />
    <link rel="stylesheet" href="<%- manifest["main.css"] %>" />

  <body>
    <div id="root"><%- content %></div>
    <div id="modal"></div>
    <script>window.INITIAL_STATE = <%- initialState %>;</script>
    <script src="<%- manifest["main.js"] %>></script>
  </body>
</html>
